@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
body {
  font-family: "SF Pro Display", sans-serif !important;
}
html {
  scroll-behavior: smooth;
}
.breadcrumbs {
  --color-text: #5d5d5d;
  list-style: none;
  background: #f5f6f9;
  border-radius: 10px;
  padding: 7px 12px;
  margin-bottom: 15px;
}
.breadcrumbs li {
  display: inline;
}
.breadcrumbs li + li::before {
  content: "/\00a0";
  padding: 6px;
  color: var(--color-text);
}
.breadcrumbs li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-text);
  text-transform: capitalize;
}
.breadcrumbs li a:hover {
  text-decoration: underline;
}
.heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: justify;
  color: #000000;
}
.date {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: justify;
  margin: 8px 0 16px 0;
  color: #989898;
  display: inline-block;
}
.content {
  width: 100%;
  margin-top: 25px;
}
.content h1,
.content h2,
.content p {
  font-size: 14px;
  line-height: 28px;
  text-align: justify;
  color: #000000;
}
.content__readMore {
  padding: 12px 15px;
  background: #f1f1f1;
  border-radius: 10px;
  margin-top: 12px;
}
.content__readMore h4 {
  color: #000000;
}
.content__readMore h4,
.content__readMore li a {
  font-size: 14px;
  line-height: 28px;
}
.content__readMore ul {
  padding-left: 1.6rem;
}
.content__readMore ul li a {
  color: #493bee;
  text-decoration: none;
  font-weight: 400;
}
.content__readMore ul li a:hover {
  text-decoration: underline;
}
.listContent {
  width: 100%;
  background: #f1f1f1;
  border-radius: 10px;
  padding: 10px 20px;
}
.listContent__caption {
  border-bottom: 1px solid #ebbdbd;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.listContent__caption > span {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #2d2020;
}
.listContent ul {
  list-style-type: none;
}
.listContent > ul {
  padding-left: 0;
}
.listContent ul li ul {
  padding-left: 0.6rem;
}
.listContent ul li a:hover {
  color: #ef035a;
}
.listContent > li + li {
  margin-top: 4px;
}
.listContent li a {
  text-decoration: none;
}
.listContent li a,
li {
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #2d2020;
}
.relate {
  position: relative;
  margin-top: 24px;
  padding-top: 10px;
  border-top: 1px solid #ebbdbd;
}
.relate__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 34px;
}
.relate-item__content time {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #a67676;
  margin: 8px 0;
  display: inline-block;
}
.relate-item__content h1 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  line-height: 20px;
  font-size: 12px;
}
.relate-item__content h1 > * {
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}
.relate-item__content h1 a:hover {
  color: #c83f51;
  transition: color 0.2s linear;
}
.relate__icon {
  --size-icon: 28px;
  width: var(--size-icon);
  height: var(--size-icon);
  background: #b7c2cb;
  border-radius: 100rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 99;
  top: 50%;
  transform: translateY(-50%);
}
.relate__icon:active {
  opacity: 0.8;
}
.relate__icon--left {
  left: calc(var(--size-icon) * -1 / 2);
}
.relate__icon--right {
  right: calc(var(--size-icon) * -1 / 2);
}
.relate__icon img {
  max-width: 15px;
}
.category {
  margin-top: 27px;
  padding: 12px 15px;
  border: 1px solid #ebbdbd;
  border-radius: 20px;
  text-align: center;
}
.category__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
}
.category__list {
  margin-top: 12px;
  margin-bottom: 0;
  list-style: none;
  padding-left: unset;
}
.category__list li {
  display: inline-block;
  margin-bottom: 12px;
}
.category__list li + li {
  margin-left: 5px;
}
.category__list li a {
  border: 1px solid #ebbdbd;
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #000000;
  padding: 5px 10px;
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s linear;
}
.category__list li a:hover {
  background: #ffaeb4;
  color: white;
}
.category__description {
  max-width: 706px;
  width: 100%;
  margin: 0 auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #000000;
}
